html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.tooltip {
    position: absolute;    
    pointer-events: inherit;
    transition: opacity 100ms;
}

.tooltip>div {
    margin: 0 auto;
    padding: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
    transform: translate3d(-50%, -125%, 0);
}

.esri-widget {
    background-color: #242424;
    color: #ffffff;
    font-family: "Aldrich";
    font-size: 12px;
}

.esri-widget-pane {
    background-color: #242424;
    color: #ffffff;
    font-family: "Aldrich";
    font-size: 14px;
    padding: 12px;
    line-height: 1.8;
    vertical-align: bottom;
}

.esri-widget__heading, .esri-legend__service {
    color: #ffffff;
}

.esri-widget--button, .esri-popup__button {
    background-color: #242424;
    color: #69dcff;
}

.esri-widget--button:hover, .esri-widget--button:active, .esri-popup__button:hover {
    background-color: #69dcff;
    color: #242424;
}

.esri-view-width-xlarge .esri-popup__main-container {
    width: 325px;
}

l1 {
    color: #ff2b4c;
}

l2 {
    font-size: 12px;
}